doctype html
html
    head
        title Класс
        link(rel='stylesheet', href='/stylesheets/sucess.css')
        script.
            setTimeout(function(){
                window.location.href = '/';
            }, 15000);
    body
        .modal
            #success-icon
                div
            svg#close-modal(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 10 10')
            h1
                strong Подождите 10-ть секунд входим в Телеграм!
            svg.progress(xmlns='http://www.w3.org/2000/svg' version='1.1' viewbox='0 0 100 4.5')
                rect(height='4.5' width='100' rx='2' ry='2')
            p.points -10 секунд к времени
            p.points +100 к терпеливости
            hr
            p.message Вы крутой, спасибо за настройку устройства!
            a(href='/drop') Сбросить аккаунт?
